*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: #000;
}

body{
	overflow-x: hidden;
}

/* **************************** LANDING PAGE ***********************/

.outer-container{
	background-color: #000;
	width: 100vw;
	height: 100vh;
	font-family: monospace;
	color: #fff;
}


#bgVideo{
	position: relative;
	width: 80%;
	height: 80%;
	left: 10px;
	top: 50px;
	z-index: 1;
	margin: 50px 0 10px 10px;
}

.navbar{
	position: absolute;
	top: 30px;
	right:10px;
	z-index: 3;
}





.nav-item{
	padding: 10px 40px;
	font-size: 20px;
	position: relative;
	right: 80px;
}

i{
	color: wheat;
}
.p-logo{
	position: relative;
	right: 70px;
}

.intro{
	font-size: 70px;
	position: absolute;
	top: 300px;
	right: 105px;
	z-index: 2;
}

.tagline{
	position: absolute;
	top: 400px;
	right: 180px;
	z-index: 2;
	text-align: left;
	width: 40%;
	font-size: 30px;
}

.social-media-icons{
	position: absolute;
	top: 550px;
	right: 190px;
	display: flex;
	z-index: 2;
	width: 40%;
}

.social-media-icon{
	margin: 15px;
}

.fab{
	color: #fff;
	font-size: 30px;
}

.fab:hover{
	color: rgb(137, 243, 137);
}
/* **************************** ABOUT SECTION ***********************/

#about{
	width: 100vw;
	height: 90vh;
	background-color: #000;
	position: relative;
	top: 0px;
	z-index: 2;
	display: flex;
	padding: 40px;
	color: #fff;
}

.photo{
	width: 40%;
	margin: 30px 0 0 0;
	/* background-color: lawngreen; */
}

.photo>img{
	position: absolute;
	z-index: 3;
	margin: 0 0 0 40px;
}

.empty-box{
	width: 70%;
	height:85%;
	border: 2px solid white;
	position: relative;
	top: 30px;
	left: 80px;
}



.content-heading{
	margin: 0px 0px 40px 0px;
}

hr{
	margin: 0 0 40px 0;
}

.content{
	width: 40%;
	padding: 30px;
}

.content-text>h5{
	font-weight: lighter;
	line-height: 1.5;
}

/* **************************** PROJECT SECTION ***********************/

#projects{
	background-color: #000;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction:column;
	text-align: center;
	color: #fff;
	margin: 0 0 100px 0;
	width: 100%;
}


.project-section-heading {
	font-size: 50px;
	font-weight: bold;
}


.project-container{
	background-color: #000;
	height: 100%;
	width: 90%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.project-cards{
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

}

.project-row-1,.project-row-2{
	display: flex;
}

.project-card{
	height: 220px;
	margin: 20px 80px 40px 20px ;
	text-align: left;
	width: 250px;
}


.card-inner{
	width: 100%;
	height: 100%;
	transition: 1.5s ease-in-out;
	transform-style: preserve-3d;
	border: 5px solid white;
	display: flex;
	align-items: center;
	justify-content: center;
}


.project-card:hover .card-inner{
	transform: rotateY(180deg);
} 
.front-face, .back-face{
	width: 100%;
	height: 100%;
	position: absolute;
}
.front-face{
	background-color: #000;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding-left: 20px;
}

.back-face{
	background-color: #000;
	transform: rotateY(180deg);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.back-face i{
	color: rgba(255,255,255,0.9);
	font-size: 90px;
	transition-duration: 1s;
	margin: 0 0 20px 0;
}

.back-face i:hover{
	transform: scale(1.1);
	color: rgba(255,255,255,1);
}



/* **************************** CONTACT ME SECTION ***********************/

#contact{
	background-color: #000;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 400px;
	font-size: 20px;
	margin: 200px 0 0 0;
	position: relative;
	bottom: 50px;
}

.contact-section-heading{
	position: relative;
	bottom: 70px;
	padding: 0 0 40px 0;
	border-bottom: 2px solid #3c3c3c;
	width: 40%;
}

input{
	border: none;
	background: transparent;
	border-bottom: 2px solid white;
	display: inline;
	margin: 0 0 0 30px;
	position: relative;
	bottom:10px
}


form{
	display: flex;
	flex-direction: column;
}

.input-box{
	padding: 20px 30px;
	margin: 10px;
	display: flex;
	align-items: center;
	justify-content:left;
}

.input-line-1{
	margin: 0 0 0 60px;
	transition-duration: 1s;
}

.input-line-1:hover{
	transform: scale(1.1);
}

.input-line-2{
	transition-duration: 1s;
}
.input-line-2:hover{
	transform: scale(1.1);
}


.input-line{
	width: 300px;	
}



.submit-button{
	border: 2px solid white;
	width: 30%;
	padding: 10px 150px 10px 100px;
	margin: 50px 0 40px 60px;
	transition-duration: 4s;
	color: #fff;
}

.submit-button:hover{
	transform: scale(1.1);
	transform: rotateY(360deg);
}


/* **************************** FOOTER ***********************/

footer{
	padding: 100px 0 0 10px;
	background-color: #000;
	display: flex;
	justify-content: center;
	align-items: center;
	line-height: 10px;
	color: #cdd0cb;
	font-size: 15px;
	width: 100%;
}

.github-link{
	color: #cdd0cb;
	text-decoration: none;
}

.github-link:hover{
	text-decoration: underline;
	color: #fff;
}


