*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: white;
}

/* **************************** LANDING PAGE ***********************/

.outer-container{
	background-color: #000;
	width: 100vw;
	height: 100vh;
	font-family: monospace;
}


#bgVideo{
	position: relative;
	width: 80%;
	height: 80%;
	left: 10px;
	top: 50px;
	z-index: 1;
	margin: 50px 0 10px 10px;
}

.navbar{
	position: absolute;
	top: 30px;
	right: 10px;
	z-index: 2;
}

.nav-item{
	padding: 10px 40px;
	font-size: 20px;
	position: relative;
	right: 80px;
}

.nav-link:hover{
	color: rgb(0,255,0);
}

.p-logo{
	position: relative;
	right: 70px;
}

.intro{
	font-size: 70px;
	position: absolute;
	top: 300px;
	right: 105px;
	z-index: 2;
}

.tagline{
	position: absolute;
	top: 400px;
	right: 180px;
	z-index: 2;
	text-align: left;
	width: 40%;
	font-size: 30px;
}

.social-media-icons{
	position: absolute;
	top: 550px;
	right: 190px;
	display: flex;
	z-index: 2;
	width: 40%;
}

.social-media-icon{
	margin: 15px;
}

/*****************************ABOUT SECTION***********************/

#about{
	width: 100vw;
	height: 90vh;
	background-color: #000;
	position: relative;
	top: 0px;
	z-index: 2;
	display: flex;
	padding: 40px;
}

/* .box{
	width: 300px;
	height: 600px;
	border: 5px lightgreen solid;
	position:relative;
	top: 1px;
	z-index: 1;
} */

.photo{
	width: 40%;
	padding: 30px;
	z-index: 3;
}

.content-heading{
	margin: 0px 0px 40px 0px;
}

hr{
	margin: 0 0 40px 0;
}

.content{
	width: 40%;
	padding: 30px;
}

.content-text>h5{
	font-weight: lighter;
	line-height: 1.5;
}

#projects{
	background-color: #000;
	height: 80vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	flex-direction: column;
}

.project-container{
	background-color: #000;
	height: 100%;
	width: 80%;
}