footer{
	@include flexCenter();
	flex-direction: column;
	a{
		color: #fff;
		&:hover{
			color: $green;
		}
	}
}

.social-links{
	@include flexCenter();
}

.social-media-icon-f{
	padding: 10px 10px;
	font-size: 20px;
}